@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="display: flex; align-items: start; justify-content: left;">
    <img src="~/Content/Media/logo.jpg" style="width: 100px;margin-right: 20px;"/>
    <h1>Movie Store</h1>
   
</div>


